



.vertical-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.vertical-nav li a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.vertical-nav li a:hover {
  background-color: #555;
  color: white;
}

.dropdown {
  margin-left: 25%;
  padding: 1px;
}

#editButton, #saveButton, #addButton {
  padding: 2px 20px;
  float: right;
  margin-right: 4px;
}

.col {
  padding-top: 3px;
}

img {
  height: 220px;
  width: 250px;
  padding: 1px;
  border: 1px solid #021a40;
  position: relative;
}

.row {
  display: flex;
  margin-left: 25%;
}

.itemName {
  text-align: center;
  margin-right: 30px;
}

.tabActive {
  color:#ffffff !important;
  background-color: #555;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#addButton {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}
