



.vertical-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.vertical-nav li a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.vertical-nav li a:hover {
  background-color: #555;
  color: white;
}

.dropdown {
  margin-left: 25%;
  padding: 1px;
}

#editButton, #saveButton, #addButton {
  padding: 2px 20px;
  float: right;
  margin-right: 4px;
}

.col {
  padding-top: 3px;
}

img {
  height: 220px;
  width: 250px;
  padding: 1px;
  border: 1px solid #021a40;
  position: relative;
}

.row {
  display: flex;
  margin-left: 25%;
}

.itemName {
  text-align: center;
  margin-right: 30px;
}

.tabActive {
  color:#ffffff !important;
  background-color: #555;
}

.container {
    overflow: hidden;
}

.filterDiv {
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #373131;
  cursor: pointer;
  color: white;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
